.DS_Store
node_modules
app1/node_modules
app1/dist

app2/node_modules
app2/dist

app3/node_modules
app3/dist

main-app/node_modules
main-app/dist


# local env files
app1/.env.local
app1/.env.*.local

app2/.env.local
app2/.env.*.local

app3/.env.local
app3/.env.*.local

main-app/.env.local
main-app/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

app1/npm-debug.log*
app1/yarn-debug.log*
app1/yarn-error.log*
app1/pnpm-debug.log*

app2/npm-debug.log*
app2/yarn-debug.log*
app2/yarn-error.log*
app2/pnpm-debug.log*

app3/npm-debug.log*
app3/yarn-debug.log*
app3/yarn-error.log*
app3/pnpm-debug.log*

main-app/npm-debug.log*
main-app/yarn-debug.log*
main-app/yarn-error.log*
main-app/pnpm-debug.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
